.button-reset{
  width: 75px;
  height: 30px;
  border-radius: 15px;
  border: solid 1px $white;
  background-color: transparent;
  box-sizing: border-box;
  @include Cards-Card-ResetButton;
  transition: all 1s;
  &:hover {
    color:#1D4E4E;
    border: solid 1.3px #1D4E4E;
    transform: scale(1.2);
  }
}

.button-addImage{
  display: inline-block;
  width: 140px;
  height: 30px;
  border-radius: 3px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
  background-color: $dull-orange;
  border: none;
  text-align: center;
  box-sizing: border-box;
  vertical-align: top;
  @include Cards-Form-ImageButton;
    transition: all 1s;
   &:hover {
    border: solid 1.3px red;
    transform: scale(1.1);
  }
}

.button-create{
  width: 199px;
  height: 50px;
  border-radius: 12px;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.32);
  background-color: $dull-orange;
  border: none;
  padding: 13px 17px 13px 49px;
  @include Cards-Form-CreateButton;
  position: relative;
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
}

@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}


.button-create:before{
  content: "\f2bb";
  left:18px;
  top: 16px;
  position: absolute;
  height: 22px;
  font-family: "Font Awesome 5 Pro";
  font-weight: 400;
  color: $white;
}
