.footer{
    width: 100%;
    flex-grow: 0;
    padding: 10px 0;
    text-align: center;
    border-top: 1px solid $grey-borders;
    background-color: white;

    @media all and (min-width:768px){
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 41px;
    }
}

.footer__copyright{
    @include Footer-Copy;
}

.footer__logo-adalab{
    height: 40px;
}

